<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{{title}}</title>    
        <link  rel="stylesheet" href="/css/style.css">   
    </head>
    <body>
         <header>              
            <nav class = "navbar">
                <div class="nav-left">
                    <div class="logo">
                        <a href="/"> <img src="/img/logo.svg" id="logo" width="40px" height="25px" ></a>
                        <a href="/" class="brand">Meal Kits</a>                       
                    </div>                 
                    <ul class="navbar-menu">                                               
                        <li class ="nav"><a href="/">Home</a></li>
                        <li class ="nav"><a href="product/mealsPackage">Meal Packages</a></li>                                           
                        <li class="nav"><a href="/aboutUs">About us</a></li>                                   
                    </ul> 
                </div>
                <div class="nav-right">                           
                    <ul class="navbar-logIn">
                         <li class ="nav"><a href="/login">Login</a></li>
                         <li class ="nav"><a href="/customerRegistration">Registration</a></li> 
                         <li class ="nav"><a href="/cart">Cart</a></li> 
                    </ul>   
                </div>
            </nav>                
         </header>
         <main>                
        
             {{{body}}}

         </main>         
         <footer>
             <ul class="bottom">
                 <li><a href="product/mealsPackage">More meals</a></li>
                 <li><a href="https://github.com/mygang55/MealKit-website">Social Media</a></li>               
             </ul>                      
         </footer>
    </body>
</html>