body
{
    color:black;
    margin:0;
    font-family: 'Trebuchet MS';
}

.navbar
{
    display: flex;
    justify-content: space-between;
    /* flex-direction: row;     */
    /* align-items: center; */
    background-color: #ffdab9; 
    padding: 0px 12px;
}

.nav-left
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.nav-right
{
   display: flex;
   flex-direction: row;
   justify-content: right;     
}


.navbar-menu 
{  
    display:flex;
    flex-direction: row;
    justify-content: left;
    top:0;
    list-style-type: none;   
    overflow: hidden;       
    font-size: large;
    padding:0;
    margin:10px 0;
}

.navbar-logIn
{  
    display:flex;
    flex-direction: row;
    justify-content: right;   
    top:0;
    list-style-type: none;   
    overflow: hidden;       
    font-size: large;
    padding:0;
    margin:10px 0;
}

.logo
{  
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.logo a
{    
    text-decoration: none;
    font-size: 17px;
    font-family: 'Trebuchet MS';     
    font-weight: bold; 
    color: black; 
}


li
{
    float: left;
    padding: 18px 10px;
}


li a
{
    color: black;
    text-align: center;
    padding: 30px 10px;
    text-decoration: none;
    font-weight: bolder;      
}

.navbar-menu li:hover
{
    background-color: #f7cfae;
    border-radius: 5px;
}

.navbar-logIn li:hover
{
    background-color: #f7cfae;
    border-radius: 5px;
}

.hero-image
{   
    background-image: url("../img/banner.png");    
    height: 50%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 200px 0;
    display: flex;
    justify-content: center;
    margin-top: 0px;  
      
}

.hero-contents
{
    text-align: center;        
}

.hero-btn{
    padding: 10px;
    width: 100%;
    font-size: medium;
    font-weight: bold;
    background-color: rgb(47, 189, 47);
    color: floralwhite;
    font-family: 'Trebuchet MS';
}

.homeText
{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
    font-family: 'Trebuchet MS';
}

.container
{
    display: grid;      
    grid-template-areas:       
    "item1 item2 item3 item4";
    justify-content: center;
    gap: 80px;   
    margin-bottom: 200px;    
}

.topMeal-container
{
    display: grid;      
    grid-template-areas:       
    "item5 item6 item7 item8";
    justify-content: center;
    gap: 80px;
    margin-bottom: 200px;
}

.aboutUs-contents
{
    margin: 30px auto;
    text-align: center;    
    max-width: 70%;
    line-height: 2em;     

}

.photos
{
    text-align: center;    
}

.photos img
{
    margin:80px 30px 30px 30px;
}



.text1
{
    font-weight: 800;
    font-size: larger;
    font-family: 'Trebuchet MS';  
}

.text2
{
    font-weight: 500;
    font-size: medium;
    font-family:'Trebuchet MS';    
}

.homeImg
{    
    width: 200px;
    height: 200px;
}

.bottom
{
    display:flex;
    justify-content: space-around;
    position: relative;
    list-style-type: none; 
    font-weight: bolder;     
}

.top4meal
{
    width: 200px;
    height: 200px;
}

.packageMeal-container
{
    display: grid;      
    grid-template-areas:       
    "item9 item10 item11 item12";
    justify-content: center;
    gap: 80px;
    margin-top:100px;
   
}

.packageMealImg
{    
    width: 200px;
    height: 200px;
}

.createAccount
{
    font-family: 'Trebuchet MS';
    font-weight: bolder;
    font-size: larger;      
}

.regist-container
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px 0;
    margin: 200px 0;    
}

.signup-logo
{    
    text-align: center;
    margin-bottom: 30px;
}

.signup-text
{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
}

.signup-btn
{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(247, 136, 46);
    color: white; 
    font-size: 1.2em;
    margin-top: 30px;
    padding: 10px 0 ;
    width: 100%;
    height: 60px;
}


#regist
{
    display:inline-block;
    justify-content: center;
    width: 100%;
    margin: 0; 
}

.form-signin 
{
    display: block;
    width: 100%;
    max-width: 330px;   
    margin: 20px auto;
}


.login-logo
{    
    text-align: center;
    margin-bottom: 30px;
}

.login-text
{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
}



.custLogin
{        
    font-family: 'Trebuchet MS';
    font-weight: bolder;
    font-size: 1.8rem;    
     
}

.getinfo
{
    font-size: medium;
    font-family: 'Trebuchet MS';
    font-weight: bold;
}

.form-input label
{
    margin-bottom: 10px;
}


input{
    width: 100%;
    height: 40px;    
    padding:2px;
    border: 1px solid;
}

.signin-btn
{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(247, 136, 46);
    color: white; 
    font-size: 1.2em;
    margin-top: 30px;
    padding: 10px 0 ;
    width: 100%;
    height: 60px;
}


#email-login
{
    margin-bottom: 20px;
}

.ask-signUp p
{
    text-decoration: none;  
    text-align: center;    
}

.login-container
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px 0;
    margin: 200px 0;    
}


.form-singup{

    display: block;
    
    width: 100%;
    max-width: 330px;   
    margin: 20px auto;
}



.errors
{
    color: red;
}

.cart-container
{   
    display: flex;
    justify-content: space-between;
    margin:50px 40px;
}

.cart-left
{
    display: flex;
    flex-direction: row;
}

.cart-right
{
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    border-radius: 4px; 
    padding:10px 30px; 
  
}

.checkout-form button
{
    margin-top: 20px;
    padding:10px 15px;
    background-color: #ffc809;
    border-radius: 4px;
    border:solid 1px gainsboro;
}

.added-items{
   
    text-align: center;
    padding-left: 0;
}

.added-item
{
    
    list-style-type: none;
    margin-right:20px;
    padding: 20px;
    border: #c39e7f solid 2px;
}

.added-item img{
    width: 200px;
    height: 200px;   
}

#welcome-container
{    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px 0;
    margin: 200px 0;           
}

.form-dashboard
{
    display: block;
    width: 100%;
    max-width: 500px;   
    margin: 20px auto;

}

.welcome-text
{
    margin-top: 50px;
    text-align: center;
}

.dashboard-btn input{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(247, 136, 46);
    color: white; 
    font-size: 1.2em;
    margin-top: 30px;
    padding: 10px 0 ;
    width: 100%;
    height: 60px;
}



@media screen and (max-width: 768px)
{

    .hero-image 
    {   
        display: flex;
        justify-content: center;        
       
    }

    .navbar
    {
        flex-direction: column;       
        padding: 8px 12px;
        
        
    }
    
    .nav-left
    {
        display: flex;
        flex-direction: row;
        align-items: center;       
    }

    .nav-right
    {
       display: flex;
       flex-direction: row;        
    }

    
    .logo
    {
        position: absolute;
        align-self: flex-start;
        padding-top: 15px;
    }

    .navbar-menu
    {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    
    .navbar-logIn
    {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }


    li
    {
        width: 100%;
        text-align: center;
    }

    
    .navbar-menu li:hover
    {
        background-color: #f7cfae;
        border-radius: 5px;
    }

    .navbar-logIn li:hover
    {
        background-color: #f7cfae;
        border-radius: 5px;
    }


    .bottom
    {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding:0;

    }

    .container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .topMeal-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .packageMeal-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #login  
    { 
        display: inline-block;
        justify-content: center;
        width: 100%;
        margin: 0;
      
    }

    #regist
    {
        display: inline-block;
        justify-content: center;
        width: 100%;
        margin: 0;
        
    }

    .cart-container {
        display: block;
        justify-content: space-between;
        margin: 50px 40px;
    }

    .cart-left{      
       justify-content: center;        
    }

    .added-items{
   
        display: flex;
        flex-direction: column;  
        justify-content: center;   
        text-align: center;
    }
   
    


    
}