<div class="cart-container">    
    <div class="cart-left">
        <ul class="added-items">
            <li class="added-item"> 
                <img src="/img/vegan.jpg" alt="">
                <h3>Price: $70.00</h3>
                <p>Vegan</p>
            </li>
            <li class="added-item"> 
                <img src="/img/vegan.jpg" alt="">
                <h3>Price: $70.00</h3>
                <p>Vegan</p>
            </li>          
        </ul>
    </div>
    <div class="cart-right">
        <div class="checkout">
            <form class="checkout-form" action="" method="post">
                <h2>Subtotal: $162.19</h2> 
                <p>total: $140</p>
                <p>tax: $18.20</p>
                <p>shipping: $3.99</p>
                <button type="submit">Proceed to Checkout</button>
            </form>            
        </div>
    </div>
</div>